.container {
    width:100%;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.side-menu {
    width: 30%;

}
.calc {
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 25px;
}
.calcular {
    padding: 8px 25px;
    background-color: #620D87;
    border-radius: 100px;
}
.side-menu img {
    width: 20%;
}
.side-menu h1 {
    font-size: 20px;
}
hr {
    margin: 50px 0px 50px 0px;
    width: 100%;
}
.form {
    width: 60%;
    padding: 25px;
    border-radius: 25px;
    height: 780px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid 1px #bbbbbb;
    cursor: pointer;
}
textarea {
    height: 180px;
}

button {
    width: 200px;
    font-size: 1.2rem;
    background: #620D87;
    border-radius: 500px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.gracias {
    padding:30px;
}
.check-icon {
    margin-top: 20px;
}
@media (max-width: 768px) {
    .container {
        width: 80%;
        height: 900px;
    }
    .form {
        height: 850px;
    }
}