
.container {
    width:60%;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
    height: 760px;
}

.form {
    padding: 50px;
    border-radius: 25px;
    height: 780px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid 1px #bbbbbb;
    cursor: pointer;
}
textarea {
    height: 180px;
}

button {
    width: 200px;
    font-size: 1.2rem;
    background: #620D87;
    border-radius: 500px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.gracias {
    padding:30px;
}
.check-icon {
    margin-top: 20px;
}
@media (max-width: 768px) {
    .container {
        width: 80%;
        height: 900px;
    }
    .form {
        height: 850px;
    }
}