
.serviced {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    align-items: center;
}

.servicio {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 25px;
    width: 90%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.servicio h2 {
    margin-top: 0;
    color: #620D87;
}
p {
    font-size: 16px;
}
.price {
    font-size: 1.5rem;
    color: #28a745;
    font-weight: bold;
}

.grid-steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.step {
    padding: 30px;
    color: white;
}
.step p {
    font-size: 13px;
    margin-top: 15px;
}
h1 {
    color:white;
    text-align: center;
    font-size: 50px;
}
.icon {
    width: 20px;
}
@media (max-width: 768px) {
    .grid-steps {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 0 auto;
    }
    .serviced {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        height: 770px;
        margin-bottom: 100px;
        margin: 10px;
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .step {
        padding: 10px;
    }
    .servicio {
        margin: 0 auto;
    }
    h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .footer {
        position: relative;
        bottom: 0px;
    }
}
